<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <!-- CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBInELMXXxLGbgdeTaFMDuUBQ6g7FSutng">
  </script>
  <script type="text/javascript" src="/scripts/maps.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <!-- External JS -->
  <script src="https://kit.fontawesome.com/f316481a98.js" crossorigin="anonymous"></script>

  <title><em>Brew Maps</em></title>
</head>

<main>
  <%- include('partials/_header') %>

  <body>
    <h1>These are my maps!!!</h1>
    <% maps.forEach((map) => { %>
    <h2><%= map.title %></h2>
    <div class="maps" id="map-<%=map.id%>" data-id="<%=map.id%>" style="width:400px; height:250px;  z-index: -1;"></div>
    <!-- <div class="edit-delete"> -->
      <!-- <button type="submit" class="edit-button">Edit</button> -->
      <form method="POST" action="/myMaps/delete" class="id"></map>
        <input type="hidden" name="mapId" value="<%= map.id %>">

        <button type="submit" class="delete-button">Delete</button>
      </form>

    <!-- </div> -->
    <% }) %>
  </body>
</main>

</html>
